// util styles
@import './utils/varibeles';
@import './utils/v-hidden';

// base styles
@import './base/base';
@import './base/reset';





// components style
@import './components/container';
@import './components/header';
@import './components/buttons';
@import './components/navigation';
@import './components/hero';
@import './components/about';
@import './components/picture';
@import './components/team';
@import './components/socialist';
@import './components/clients';
@import './components/footer';
@import './components/subscription';
@import './components/socials-form';
@import './components/backdrope';
@import './components/modal';
@import './components/agreement';
@import './components/portfolio-btn';
@import './components/work';







