.form-agreement {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 30px;
  }
  
.form-checkbox {
    appearance: none;
  
    width: 16px;
    height: 15px;
  
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0;
  
    border: 2px solid var(--primary-text-color);
    border-radius: 2px;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
  
.form-checkbox:checked {
    background-color: var(--button-color);
    border-color: transparent;
  
    background-size: 14px;
  }
  
.form-agreement-text {
    user-select: none;
    color: var(--title-text-color);
  }
  
.form-agreement-link {
    color: var(--button-color);
  }
.modal-form-btn {
    display: block;
    margin: 0 auto;
  
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--accent-color);
    background-color: var(--button-color);
  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border: none;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: #188ce8;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-color: transparent;
    }
  }
  
