.backdrope {
    position: fixed;
    left: 0;
    top: 0;
  
    width: 100%;
    height: 100%;
  
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
  
.backdrope.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
.modal {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 528px;
    height: 581px;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 40px;
  }
  
.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;
  
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
     color: var(--button-color)
    }
  }
  
.close-btn-icon {
    fill:currentColor;
  }
  
