.modal-title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }
  
  
.form-group {
    display: flex;
    flex-direction: column;
  
    margin-bottom: 20px;
  }
  
.modal-form-field {
    display: block;
    position: relative;
    margin-bottom: 10px;
  }
  
.comment {
    margin-bottom: 0;
  }
  
.form-label-text {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: var(--title-text-color);
    margin-bottom: 4px;
    display: block;
  }
  
.modal-form-input {
    width: 100%;
    height: 40px;
  
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
  
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 42px;
  }
  
.modal-form-input:focus {
    border-color: var(--button-color);
    color: var(--button-color)
  }
  
.form-icon {
    position: absolute;
    left: 12px;
    top: 50%;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
.form-icon:focus {
    fill: currentColor;
  }
  
.modal-form-input:focus + .form-icon {
    border-color: var(--button-color);
    fill: var(--button-color);
  }

.for-massage {
    width: 100%;
    height: 120px;
  
    resize: none;
  
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
  
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 12px 16px;
  }
  
.for-massage:focus {
    border-color: var(--button-color);
  }