.nav__list {
    display: flex;
    margin: 0;
    padding: 0;
    bottom: 0;
  }
  .nav__iteam {
    position: relative;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
  
  .nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
      color: var(--button-color);
    }
  }

.nav__link--current {
    color: var(--button-color);
    
  }

.nav__link--current::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    background: var(--button-color);
    border-radius: 2px;

  }
