.picture {
    padding-bottom: 94px;
  }
  
  .picture__title {
    margin-bottom: 50px;
    padding: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }
  
  .picture__name {
    display: flex;
    gap: 30px;
  }
  
  .picture__wrapper {
    position: relative;
  }
  
  .picture__wrapper--text {
    font-weight: 700;
  
    line-height: calc(16 / 14);
  
    text-transform: uppercase;
    color: var(--accent-color);
    position: absolute;
    bottom: 0;
    width: 100%;
  
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
  }