.portfolio {
    padding: 94px 0;
  }
  
.btn-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
  }
.second-btn {
    padding: 6px 22px;
    border-radius: 4px;
    border-color: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background: var(--icon-background-color);
    border: none;
  
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--button-color);
      color: var(--accent-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
          0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }
  
