.work {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.work-wrapper {
  flex-basis: calc((100% - 30px * 2) / 9);
}

.work-thumb {
  position: relative;
  overflow: hidden;
  outline-offset: -2px;
} 

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(101%);
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-left: 24px;
  padding-right: 24px;
}

.title-wrapper {
  padding: 24px 20px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.work-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.work-list {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  cursor: pointer;
}

.work-project {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  &:hover .overlay,
  &:focus .overlay {
  transform: translateY(0);
 }

  &:hover,
  &:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
 }
}



 
