h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

img {
  display: block;
  height: auto;
}

address {
  font-style: normal;
}

.logo {
  font-family: 'Raleway';
  text-decoration: none;
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}