:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #ffffff;
    --button-color: #2196f3;
    --border-color: #afb1b8;
    --primary-backgroud-color: #f5f5f5;
    --hero-backgroud-color: #c4c4c4;
    --icon-background-color: #f5f4fa;
    --footer-background-color: #2f303a;
  }